<html>

<head>
    <title>ID Incorreto</title>
    <!-- Icon -->
    <link rel="shortcut icon" href="/images/Icon-title.svg" type="image/x-icon">

    <script>
        confirm("ID da sala incorreto, tente novamente.")
        window.location.replace("/")
    </script>
</head>

</html>