<html>

<head>
    <title>Senha em Branco</title>

    <!-- Icon -->
    <link rel="shortcut icon" href="/images/Icon-title.svg" type="image/x-icon">

    <script>
        confirm("Senha em Branco, por favor preencha o campo corretamente.")
        window.location.replace("/room/<%= roomId %>")
    </script>
</head>

</html>