* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    /*Main Colors*/
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;
    /*Gray Colors*/
    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --medium: #D3D9E2;
    --light: #E5EAF1;
    --grey-medium: #eaecf2;
    /*Hover Colors*/
    --hover-blue: #5699FF;
    --hover-red: #EA4B65;
    --hover-gray: #8794A7;
    /* 1rem = 16px = 100% (para padrão no Pc, que é 100%)*/
    font-size: 62.5%;
    /* aqui, é setado o valor padrão de pixel da página
    para 10PX, com isso, basta dividir os valores por 10, para se obter o valor em REM*/
}

body {
    display: flex;
    height: 100vh;
    /* VH é o valor de altura da tela, aqui ele está pegando 100% do valor da tela proposta*/
    /*width: 100vw; VH é o valor da vertical da tela*/
    background: var(--background);
}

body,
button,
input,
textarea {
    /*O Clamp é um intervalo de tamanho*/
    /*Se a tela diminuir muito, a fonte não irá passar de 14px*/
    /*A tela em tamanho normal, ficará em 1.6rem*/
    /*Se a tela esticar/aumentar muito, a fonte ficará em 2vw*/
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

.content {
    width: 100%;
    margin: 0 auto;
    /*sem margem em cima e em baixo, e nas laterais a margem é automática*/
}

.screen-only {
    /*o elemento com essa tag, irá sumir da tela mas ainda será utilizado para padrões de acessibilidade*/
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

input,
button,
.button {
    height: 5rem;
    border-radius: 0.8rem;
}

button,
.button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;
    display: flex;
    align-items: center;
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
    transition: filter 0.2s;
}

button:hover,
.button:hover {
    filter: brightness(1.2);
}

button>img,
.button>img {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 2rem;
}

.button.outlined,
button.outlined {
    background: var(--white);
    color: var(--black);
    border: solid var(--blue);
}


/* BUTTON COLORS MODAL */

button.red,
.button.red {
    background: var(--red);
    color: var(--white);
}

button.grey,
.button.grey {
    background: var(--grey-dark);
    color: var(--white);
}


/* header */

.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;
}